<!DOCTYPE html>
<html  lang="ro">
    <%- include("../fragmente/head.ejs") %>
    <head>
        <title>PhoneRemix</title>
    </head>
    <script type="text/javascript" src=/resurse/js/inregistrare.js></script>

    <body>
    <%- include("../fragmente/header.ejs") %>
    <main>
    <div class="afisaj">
        <h1>Inregistrare utilizator</h1>
        <% if(!locals.raspuns) { %>    

			<%-include("../fragmente/formular.ejs", {action: "/inregistrare"}) %>
        <% } %>
        
    <h2>
	<% if(locals.raspuns) { %>
	<%- locals.raspuns+"<br/>"%>
	<% } %>
	<% if(locals.err) { %>
	<%- locals.err %>
	<% } %>
    </h2>
    </div>
</main>

<footer>
    <%- include("../fragmente/footer.ejs") %>
</footer>

</body>
</html>