<!DOCTYPE html>
<html  lang="ro">
    <%- include("../fragmente/head.ejs") %>
    <head>
        <title>PhoneRemix</title>
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <%- include("../fragmente/header") %>
    <body>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                            <p class="uzura">Uzură: <span class="val-uzura"><%- prod.uzura%></span></p>
                            <p class="memorie">Spațiu de stocare: <span class="val-memorie"><%- prod.memorie_gb%></span> GB</p>
                            <p class="memorie-ram">RAM: <span class="val-memorie-ram"><%- prod.memorie_ram%></span> GB</p>
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>